<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper green">
      {{#link-to 'index'}}<span class="brand-logo center">Question Board</span>{{/link-to}}
    </div>
  </nav>
</div>
{{outlet}}
