<div class="center-align">
  {{new-question saveQuestion="saveQuestion"}}
{{#each model.questions as |question|}}
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card green lighten-3">
        <div class="card title green darken-2">
          <h2>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</h2>
        </div>
        <div class="card-content">
          <p>Asked by: {{question.author}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>
